:host {
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;

  font-size: 1.2rem;
}
a {
  border: 1px solid #d3d3d3;
  padding: 1rem;
  border-radius: 10px;
  min-width: 100px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
