<main class="main">
  <div class="container">
    <div class="picture">
      <img
        class="checoimage"
        [src]="previewImage"
        width="200px"
        alt="random picture"
      />
    </div>
    <div class="information">
      <h1>
        Hola, mi nombre es
        <span style="color: pink">{{ previewData.name }}</span>
      </h1>
      <p>
        Si estás leyendo esto, por favor devuelveme con mis humanos,
        gracias<span style="font-size: 32px; margin-left: 1rem"
          ><img src="assets/coolcat.png"
        /></span>
      </p>
      <div class="icons">
        <a target="_blank" href="{{ previewData.instagram }}"
          ><img src="assets/insta.png"
        /></a>
        <a target="_blank" href="{{ previewData.facebook }}"
          ><img src="assets/face.png"
        /></a>
        <a target="_blank" href="{{ previewData.whatsapp }}"
          ><img src="assets/whats.png"
        /></a>
      </div>
    </div>
    <div class="footer">
      <button (click)="goBack()" class="link" style="color: white">
        Crea tu propia pagina
      </button>
    </div>
  </div>
</main>
