body {
  background-color: #ffe6e6;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icons img {
  height: 64px;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ad88c6;
}

.checoimage {
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  object-position: center;
}

.link {
  font-weight: 500;
  color: #ad88c6;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #9170a7;
}

@media screen and (max-width: 768px) {
  .information {
    text-align: center;
  }

  .container {
    width: auto;
  }
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="file"] {
  padding: 3px;
}
button {
  background-color: #ff9eac; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 2s ease-in-out;
}
